rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only users with admin claim to create or delete products
    match /products/{productId} {
      allow create, delete, update: if request.auth != null && request.auth.token.admin == true;
      allow read: if request.auth != null
    }

    // Restrict deletion of sales
    match /sales/{saleId} {
      allow delete, update: if false;
      allow read, create: if request.auth != null
    }
  }
}
